.MainComponentDiv{
    border-radius: 15px;
    border: 2px solid black;
}

.Column{
    margin: 15px;
}

.Single-Box{
    margin: 10px;
    padding: 10px;
}

.button-box{
    height: 150px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
}

.VehicleItemHover:hover{
    box-shadow: 0 0px 16px 0 rgba(9, 255, 0, 0.767), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.SingleVehicleItem{
    margin: 10px;
    padding: 10px;
    transition-duration:250ms;
    height: auto;
}

.box h5{
    padding: 1px;
    margin: 1px;
}

.btn-back{
    margin: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.date-box input{
    margin: 15px;
    font-size: 20px;

}

.form-select{
    font-size: 20px;
}
