.card{
    border-radius: 20px;
    border: 2px solid black;
    width: 600px;
    margin: 10px;
    padding: 5px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.card button{
    width: 100px;
}

.card input{
    height: 30px;
}

.singleCard{
    width: 100%;
    display: flex;
    justify-content: center;

}

/* login component */
.LoginComponent{
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 50px;
}

.LoginComponent h3{
    text-align: center;
}

.LoginComponent input{
    margin: 10px;
}
